// SCSS RESET
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



//COMPONENT STYLES
$font-main: #1f2f56;
$font-sub: #7280a7;
$font-link: #382ae1;

$bg-app: #e0e8ff;
$bg-main: #fffffe;
$bg-sub: #f5f7ff;
$bg-btn: rgb(56, 42, 224);
$bg-btn-active: #746bf1;

$sh-bg: rgba(0,0,0,0.15);
$sh-main: rgba(56, 42, 225, 0.15);
$comp-pad: 2rem;

* { 
    box-sizing: border-box; 
    font-family: 'Red Hat Display', sans-serif;
}

@media only screen and (max-width: 600px) {//mobile
    $text-xl: 1.5rem;
    $text-m: 0.9rem;
    $text-s: 0.9rem;
    $text-xs: 0.75rem;


    .App {
        background-image: url(./images//pattern-background-mobile.svg);
        background-size: contain;
        position: absolute;
        top: 0px;
        background-repeat: no-repeat;
    }

    .sum-container {
        width: 100%;
        margin: 1.5rem;

        .sum-img-hero {
            height: 10rem;
        }

        .sum-content {
            padding: 1.5rem;
        }


        .order-main {

            h1 {
                font-size: $text-xl;
            }

            p {
                font-size: $text-m;
                font-family: 'Red Hat Display', sans-serif;
                font-weight: 500;
                padding: 0rem 0.5rem 1rem 0.5rem;
            }
        }


        .icon {
            width: 3rem;
            height: 3rem;
        }

        .order-specs {

            p {
                font-size: $text-m;
            }
        }

        a {
            font-size: $text-xs;
        }

        button {
            font-size: $text-m;
            padding: 1rem;
        }
    }
}

@media only screen and (min-width: 600px) {//desktop
    $text-xl: 1.5rem;
    $text-m: 1rem;
    $text-s: 0.8rem;
    $text-xs: 0.75rem;

    .App {
        background-image: url(./images//pattern-background-desktop.svg);
        background-size: contain;
        position: absolute;
        top: 0px;
        background-repeat: no-repeat;
    }

    .sum-container {
        width: 24rem;

        .sum-img-hero {
            height: 12rem;
        }

        .sum-content {
            padding: 1.5rem;
            padding: 1.5rem 2.5rem 1.5rem 2rem;

            .order-main {

                h1 {
                    font-size: $text-xl;
                }

                p {
                    font-size: $text-s;
                    padding: 0rem 1rem 1rem 1rem;
                }
            }

            .icon {
                width: 2.6rem;
                height: 2.6rem;
            }

            .order-specs {

                p {
                    font-size: $text-s;
                }
            }

            a {
                font-size: $text-xs;
            }
            
            button {
                font-size: $text-s;
                padding: 0.8rem;
            }
        }
    }

}

.App {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-app;

}

.sum-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    flex-shrink: 1;
    background-color: $bg-main;
    box-shadow: 0px 0px 20px 0px $sh-main;


    .sum-img-hero {
        width: 100%;
        background: url(./images/illustration-hero.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .sum-content {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
        
        .order-main{
            display: flex;
            flex-direction: column;
            
            h1 {
                font-family: 'Red Hat Display', sans-serif;
                padding: 1rem;
                font-weight: 900;
                color: $font-main;
            }

            p {
                font-family: 'Red Hat Display', sans-serif;
                font-weight: 500;
                color: $font-sub;
                line-height: 1.5;
            }
        }

        .order-details {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            background-color: $bg-sub;
            padding: 0.5rem;
            border-radius: 0.5rem;

            .icon {
                margin: 0.5rem;
                background: url(./images/icon-music.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .order-specs {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex-grow: 1;

                p {
                    padding: 0.25rem 0.5rem;
                    font-family: 'Red Hat Display', sans-serif;
                }

                p:nth-child(1) {
                    font-weight: 900;
                    color: $font-main;
                }

                p:nth-child(2) {
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: $font-sub;
                }
            }

            a {
                font-family: 'Red Hat Display', sans-serif;
                font-weight: 700;
                color: $font-link;
                padding: 0.5rem;
                transition: color 0.2s;
                cursor: pointer;
            }

            a:hover {
                color: $bg-btn-active;
                transition: color 0.2s;
                text-decoration: none;
            }
        }

        button {
            width: 100%;
            border: none;
            border-radius: 0.5rem;
            font-weight: 800;
            color: $bg-main;
            cursor: pointer;
        }

        button.continue {
            margin: 1.5rem 0rem 0rem 0rem;
            background-color: $bg-btn;
            color: $bg-main;
            box-shadow: 0px 10px 15px 5px $sh-main;
            transition: background-color 0.2s;
        }

        button.continue:hover {
            background-color: $bg-btn-active;
            transition: background-color 0.2s;
        }

        button.cancel {
            margin: 0.5rem 0rem 0rem 0rem;
            background-color: transparent;
            color: $font-sub;
            transition: color 0.2s;
        }

        button.cancel:hover {
            color: $font-main;
            transition: color 0.2s;
        }
    }
}
